<!DOCTYPE html>
<html>
    <head>
        <!-- Head -->
        <?- include('default-head.ejs') ?>
        <!-- Head -->
    </head>
    <body>
        <!-- Messages -->
        <?- include('messages.ejs') ?>
        <!-- Messages -->

        <?- include('../page/' + content) ?>
    </body>
</html>