<div class="container">
    <h1>Passwort ändern</h1>
    <form method="POST">
        <?- form(form_security) ?>
        <input type="password" name="curr_password" placeholder="Aktuelles Kennwort"  />
        <input type="password" name="new_password" placeholder="Neues Kennwort"  />
        <input type="password" name="new_password_repeat" placeholder="Neues Kennwort wiederholen"  />
        <input type="submit" value="<?= __('submit') ?>">
    </form>
</div>